<body ng-app="myApp">
<link rel="stylesheet" type="text/css" href="1.css">
<!--<div ng-app="myApp" class="gridster" ng-controller="GridsterCntrl">
		<ul>            
					<li ng-repeat="widget in widgets"
							data-showid= "{{widget.showid}}"	
							data-row="{{widget.datarow}}"
							data-col="{{widget.datacol}}"
							data-sizex="{{widget.datasizex}}"
							data-sizey="{{widget.datasizey}}"
							class="{{shadow}}"	
							>
						{{widget.text}}, Row:{{widget.datarow}}, Col:{{widget.datacol}}
						from angular element:	{{widget.text}}, Row:{{ngdatasizex }}, Col:{{widget.datacol}}
					</li>
				</ul>

				<theshow/>
</div>
-->
<div ng-controller="GridsterCntrl">
<theshow/>
<!--<button ng-click="console.log('clicked'"> click me</button>-->
</div>

<script src="http://code.jquery.com/jquery-1.8.3.js"> </script> 
<script src="https://raw.github.com/ducksboard/gridster.js/master/dist/jquery.gridster.js"> </script> 
<script src="http://code.angularjs.org/1.1.0/angular.min.js"> </script> 
<script src="1.js"> </script> 
</body>
